.newModal{
    width: 50%;
  height: 80%;
  border-radius: 16px;
  background: #282836;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 12px;
  overflow-y: auto;
}