.navbar-end {
    width: 25%;
    justify-content: flex-end;
}

.navbar-start {
    width: 25%;
    justify-content: flex-start;
}
a.nav-link {
    margin-left: 15px;
}



@media screen and (max-width: 480px) {
 
.navbar-end {
    width: 100%;
    justify-content: flex-end;
}
    
  }

