.me-auto a{
    text-decoration: none;
    margin-left: 15px;
    color: white;
    margin-bottom: 5px;
}

.nav-last a {
    text-decoration: none;
    margin-left: 48px;
    color: #4e3002;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 10px;
}

.items a{
    color: aqua;
    display: block;
    background-color: black;
    text-decoration: none;
    text-align: center;
}

.items a:hover{
    margin-bottom: 2px red;
}
